---
name: Cleanup
on:
  schedule:
    # run every Saturday
    - cron: "0 12 * * 6"

jobs:
  clean:
    name: Clean stale packages and caches
    timeout-minutes: 10

    runs-on: ubuntu-18.04

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout code
        uses: percona-platform/checkout@v2

      - name: Install Node.js ${{ matrix.node-version }}
        uses: percona-platform/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Enable node_modules cache
        uses: percona-platform/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-

      - name: Install tools
        run: make init

      - name: Clean node_modules cache
        run: |
          rm -fr node_modules/*
          git status
          git clean -xdn
